1. Parking lot should have multiple floors - where customers can park their cars
2. Parking lot should have multiple entry and exit points
3. At entry points when parking tickets are collected, parking fee is collected in the exit points
4. Customers can pay via both cash and credit
5. Customers can also pay the ticket using a portal / app
6. System should not all more vehicles inside after maximum capacity is reached.
7.Each Floor can have many parking spots:
  a. Compact b. Large c. Handicapped d. Motorcycle
8. There should also be parking spaces for Electric Cars.
9. Different vehicle types supported are: Car, Tuck, Van, Motorcycle, etc.
10. Definition of Parking rates basically.

In the design rounds - what should we mainly do?
t
1. Who are the main Actors?
2. What are the various use-cases?
3. Class Diagram
4. Activity Diagram
5. Code

Actors:

1. Admin
2. Customer
3. Parking Attendant
4. System

Use-cases

Also - Getters and Setters
1. Add / remove / Edit parking floor
2. Add / remove / Edit parking Sport
3. Add/ remove / parking attendant
4. Take Ticket
5. Scan Ticket
6. Credit Card Payment
7. Cash Payment
8. Add / Modify Parking rate

Classes:

